@use 'variables' as *;
@use 'mixins' as *;

.countries-container {
  margin-bottom: 5rem;
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .country-list {
    display: none;
    gap: 2rem;

    &.current {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  .mini-btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .page-btns {
      transition: .5s;
      color: $Dark-gray;
      font-weight: 600;
      padding: .15rem .5rem;
      border: 2px solid rgb(212, 205, 205);
      border-radius: 5px;
      cursor: pointer;
      user-select: none;

      &:hover {
        transform: scale(1.05);
      }

      &.current {
        border-color: black;
      }
    }

    #previous-icon, #next-icon {
      transition: .5s;
      background-color: $Very-dark-blue;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      padding: .5rem;
      color: $White;
      cursor: pointer;

      &:hover {
        background-color: $Light-hover;
        transform: scale(1.1);
      }
    }
  }

  .country-card {
    width: 290px;
    transition: .5s;
    background-color: $White;
    box-shadow: 0 3px 12px 4px rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    padding-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 180px;
      width: 100%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .country-info {
      padding: 1rem 2rem;

      h2 {
        font-weight: 800;
        font-size: 1.35rem;
        letter-spacing: .5px;
        margin-bottom: .5rem;
      }

      p {
        letter-spacing: .5px;
        font-size: .95rem;
        margin-bottom: .4rem;
      }
    }
  }
}

.country-card-selected {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  gap: 3rem;

  button {
    transition: .5s;
    color: $Very-dark-blue;
    font-size: .95rem;
    background-color: $White;
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    padding: .3rem 0;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);

    &:hover {
      background-color: $Light-hover;
    }
  }

  & .__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & .-geografy, & .-culture {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    & .-border-countries {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;

      .not-borders-msg {
        text-align: center;
      }

      h3 {
        text-align: center;
        margin-bottom: .5rem;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        
        li {
          transition: .5s;
          background-color: $White;
          box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
          padding: .5rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          border-radius: 5px;

          &:hover {
            background-color: $Light-hover;
          }

          .border-flag {
            width: 20px;
          }
        }
      }
    }

  }
}

//Dark Mode 
.App.dark-mode {
  .country-card {
    @include DarkModeTheme();

    b {
      font-weight: 600;
    }
  }

  .mini-btns {
    .page-btns {
      @include DarkModeTheme();

      &.current {
        border-color: $Very-dark-blue;
      }
    }
    #previous-icon, #next-icon {
      background-color: $White;
      color: $Dark-blue;
    }
  }

  .country-card-selected {
    button {
      @include DarkModeTheme();
      &:hover {
        background-color: $Dark-hover;
      }
    }

    b {
      font-weight: 600;
    }
    color: $White;

    .-border-countries li{
      @include DarkModeTheme();

      &:hover {
        background-color: $Dark-hover;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .countries-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .country-card {
      width: 280px;
      height: 415px;
      img {
        height: 180px;
      }
    }

    .country-list {

      &.current {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;

        &.next {
          @include NextCountriesAnimation(.7s);
        }

        &.previous {
          @include PreviousCountriesAnimation(.7s)
        }
      }
    }

    .mini-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  }
  
  .country-card-selected {

    .country-selected-flag {
      width: 450px;
      height: 275px;
      display: flex;
      align-self: center;
    }

    button {
      font-size: 1.2rem;
      padding: .5rem .8rem;
      width: 150px;
      
      svg {
        font-size: 1.2rem;
      }
    }

    & .__info {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      h2 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
      }

      & .-geografy, & .-culture {
        p{
          font-size: 1.2rem;

          b {
            word-break: normal;
            font-size: 1.25rem;
            font-weight: 600;
          }
        }
      }

      .-border-countries {
        width: 100%;

        h3 {
          b {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .countries-container {
    .mini-btns {
      .page-btns {
        transition: .5s;
        color: $Dark-gray;
        font-weight: 600;
        padding: .15rem .5rem;
        border: 2px solid rgb(212, 205, 205);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }

      #previous-icon, #next-icon {
        position: fixed;
        width: 50px;
        height: 50px;
        top: 50%;
      }

      #previous-icon {
        left: 2.25%;
      }
      #next-icon {
        right: 2.25%;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .countries-container {
    gap: 4rem;
    .country-card {
      width: 330px;

      img {
        height: 200px;
      }
    }

    .country-list {
      &.current {
        gap: 4rem;
      }
    }

    .mini-btns {
      margin-bottom: -2rem;
    }  
  }
}

@media screen and (min-width: 1100px) {
  .country-card-selected {
    flex-direction: row;
    flex-wrap: wrap;

    .back-btn {
      width: 100%;
    }

    .country-selected-flag {
      width: 480px;
      height: 280px;
      align-self: flex-start;
    }

    .__info {
      width: 360px;
      h2 {
        text-align: left;
      }
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1300px) {
  .countries-container { 
    .country-card {
      width: 300px;
    }
  }

  .country-card-selected {
    justify-content: center;
    & .__info {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1400px) {

  .countries-container {
    .mini-btns {
      #previous-icon {
        left: 4%;
      }
      #next-icon {
        right: 4%;
      }
    }
  }

  .country-card-selected {
    justify-content: space-between;

    .country-selected-flag {
      width: 550px;
      height: 380px;
    }

    & .__info {
      width: 610px;
    }
  }
}

@media screen and (min-width: 1550px) {
  .countries-container{
    .mini-btns {
      #previous-icon {
        left: 1.5%;
      }
      #next-icon {
        right: 1.5%;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .countries-container {

    .country-card {
      width: 280px;
      height: 440px;

      img {
        height: 190px;
      }
    }

    .changer-btns {
      .previous-icon {
        left: 2.5%;
      }
      .next-icon {
        right: 2.5%;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
 .countries-container {
  .country-card {
    width: 300px;

    img {
      height: 190px;
    }
  }
 }

  .country-card-selected {
    justify-content: center;

    & .__info {
      width: 750px;
    }
  }
}

@media screen and (min-width: 1900px) {
  .countries-container {
    .country-card {
      width: 340px;

      img {
        height: 210px;
      }
    }
  }
}