@use 'variables' as *;
@use 'mixins' as *;

.countries-filters {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;

  .browser-container {
    transition: .5s;
    display: flex;
    gap: 15px;
    width: 100%;
    border-radius: 5px;
    background-color: $White;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
    color: $Dark-gray;

    &:hover, &:hover input {
      background-color: $Light-hover;
    }

    input {
      width: 100%;
      cursor: pointer;
      transition: .5s;
      border: none;
      font-size: .95rem;
      color: $Dark-gray;

      &:focus {
        outline: none;
      }
    }

    svg {
      font-size: 1.4rem;
    }
  }

  .filter-container {
    width: 215px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .85rem;
    font-weight: 600;
    position: relative;

    .filter-bar {
      transition: .5s;
      border-radius: 5px;
      box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
      padding: 1rem 1.5rem;
      background-color: $White;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      &:hover {
        background-color: $Light-hover;
      }

      .filter-icons {
        display: flex;
        align-items: center; 
        font-size: 1.1rem;
        gap: 5px;

        #close-icon {
          background-color: $Very-dark-blue;
          border-radius: 50%;
          fill: $White;
          font-size: 1rem;
        }
      }
    }

    .regions-list {
      transition: .5s;
      width: 100%;
      top: 70px;
      position: absolute;
      background-color: $White;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

//Dark Mode 
.App.dark-mode {
  .browser-container {
    @include DarkModeTheme();

    &:hover, &:hover input {
      background-color: $Dark-hover;
    }

    input {
      @include DarkModeTheme();

      &::placeholder {
        color: $White;
      }
    }
  }

  .filter-container {
    .filter-bar {
      @include DarkModeTheme();
      font-weight: 300;
      &:hover {
        background-color: $Dark-hover;
      }

      #close-icon {
        transition: .5s;
        background-color: $White;
        fill: $Dark-blue;
      }
    }

    .regions-list {
      @include DarkModeTheme();
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 850px) {
  .countries-filters {
    flex-direction: row;
    justify-content: space-between;

    .browser-container{
      width: auto;
    }
    .filter-container {
      flex-basis: 300px;

      .regions-list {
        @include FilterAnimation(.2s)
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .countries-filters {
    .browser-container {
      width: 450px;
    }
  }
}
