@use 'variables' as *;
@use 'mixins' as *;

header {
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem $Mobile-padding;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: $Very-dark-blue;

  h2 {
    font-size: 1rem;
  }

  .theme-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;

    .theme-btn {
      transition: .5s;
      vertical-align:bottom;
      display: flex;
      align-items: center;
      width: 45px;
      border-radius: 15px;
      background-color: $Very-dark-blue;
      padding: 3px;

      svg {
        transition: .5s;
        background-color: white;
        border-radius: 50%;
        fill: $Very-dark-blue;
        padding: 1px;
        @include BtnLightChange();
      }
    }

    p {
      font-size: .925rem;
      font-weight: 800;
    }
  }

}

//Dark Mode
.App.dark-mode{
  header {
    @include DarkModeTheme();
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.117);
    
    p {
      font-weight: 600;
    }

    .theme-container {
      .theme-btn {
        transition: .5s;
        background-color: $White;

        svg {
          @include BtnThemeChanger(.5s);
          transition: .5s;
          padding: 2px;
          background-color: $Dark-background;
          fill: $White;
        }
      }
    }
  }
}