@use 'variables' as *;

//Animations and mixins
@keyframes dark-changeMb {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}

@keyframes light-changeMb {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes dark-changeTb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}

@keyframes light-changeTb {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes filter-droping {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes next-list {
  0%{
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes back-list {
  0%{
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


@mixin BtnDarkChange ($time) {
  @media screen and (max-width: 849px) {
    animation: dark-changeMb $time linear both;
  }
  animation: dark-changeTb $time linear both;
}

@mixin BtnLightChange () {
  @media screen and (max-width: 849px) { 
    animation: light-changeMb .5s linear both;
  }
  animation: light-changeTb .5s linear both;
}

@mixin DarkModeTheme () {
  transition: .5s;
  background-color: $Dark-blue;
  color: $White;
}

@mixin FilterAnimation ($time) {
  animation: filter-droping $time linear both;
}

@mixin NextCountriesAnimation ($time) {
  animation: next-list $time linear both;
}

@mixin PreviousCountriesAnimation ($time) {
  animation: back-list $time linear both;
}