// Colors Variables:
//Dark Mode Elements
$Dark-blue: hsl(209, 23%, 22%);

//Dark Mode Background
$Dark-background: hsl(207, 26%, 17%);

//Dark Mode Text and Light Mode Elements
$White: hsl(0, 0%, 100%);

//Light Mode Background
$Very-light-gray: hsl(0, 0%, 98%);

//Light mode Text
$Very-dark-blue: hsl(200, 15%, 8%);

//Light Mode Input 
$Dark-gray: hsl(0, 0%, 52%);


//Some specific variables
$Mobile-padding: 1rem;
$Tablet-padding: 4rem;

