@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'filters';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.main-container {
  transition: .5s;
  padding: $Mobile-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $Very-light-gray;
}

footer {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}

//Dark Mode
.App.dark-mode {
  .main-container {
    transition: .5s;
    background-color: $Dark-background;
  }
}
