@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@-webkit-keyframes dark-changeMb {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@keyframes dark-changeMb {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@-webkit-keyframes light-changeMb {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes light-changeMb {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes dark-changeTb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
@keyframes dark-changeTb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
@-webkit-keyframes light-changeTb {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes light-changeTb {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes filter-droping {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes filter-droping {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  70% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes next-list {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes next-list {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes back-list {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes back-list {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
header {
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(200deg, 15%, 8%);
}
header h2 {
  font-size: 1rem;
}
header .theme-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
header .theme-container .theme-btn {
  transition: 0.5s;
  display: flex;
  align-items: center;
  width: 45px;
  border-radius: 15px;
  background-color: hsl(200deg, 15%, 8%);
  padding: 3px;
}
header .theme-container .theme-btn svg {
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  fill: hsl(200deg, 15%, 8%);
  padding: 1px;
  -webkit-animation: dark-changeTb 0.5s linear both;
          animation: dark-changeTb 0.5s linear both;
}
@media screen and (max-width: 849px) {
  header .theme-container .theme-btn svg {
    -webkit-animation: dark-changeMb 0.5s linear both;
            animation: dark-changeMb 0.5s linear both;
  }
}
header .theme-container p {
  font-size: 0.925rem;
  font-weight: 800;
}

.App.dark-mode header {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.117);
}
.App.dark-mode header p {
  font-weight: 600;
}
.App.dark-mode header .theme-container .theme-btn {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
}
.App.dark-mode header .theme-container .theme-btn svg {
  -webkit-animation: light-changeTb 0.5s linear both;
          animation: light-changeTb 0.5s linear both;
  transition: 0.5s;
  padding: 2px;
  background-color: hsl(207deg, 26%, 17%);
  fill: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 849px) {
  .App.dark-mode header .theme-container .theme-btn svg {
    -webkit-animation: light-changeMb 0.5s linear both;
            animation: light-changeMb 0.5s linear both;
  }
}

@media screen and (min-width: 850px) {
  header {
    padding: 2rem 4rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header .theme-container p {
    font-size: 1.45rem;
  }
  header .theme-container .theme-btn {
    width: 60px;
    height: 30px;
  }
  header .theme-container .theme-btn:hover {
    transform: scale(1.05);
  }
  header .theme-container .theme-btn svg {
    width: 25px;
    height: 100%;
  }
}
.countries-filters {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
  z-index: 9999;
}
.countries-filters .browser-container {
  transition: 0.5s;
  display: flex;
  gap: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container:hover, .countries-filters .browser-container:hover input {
  background-color: hsl(225deg, 9%, 83%);
}
.countries-filters .browser-container input {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  font-size: 0.95rem;
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container input:focus {
  outline: none;
}
.countries-filters .browser-container svg {
  font-size: 1.4rem;
}
.countries-filters .filter-container {
  width: 215px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  position: relative;
}
.countries-filters .filter-container .filter-bar {
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  padding: 1rem 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.countries-filters .filter-container .filter-bar p {
  width: 100%;
}
.countries-filters .filter-container .filter-bar:hover {
  background-color: hsl(225deg, 9%, 83%);
}
.countries-filters .filter-container .filter-bar .filter-icons {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 5px;
}
.countries-filters .filter-container .filter-bar .filter-icons #close-icon {
  background-color: hsl(200deg, 15%, 8%);
  border-radius: 50%;
  fill: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
.countries-filters .filter-container .regions-list {
  transition: 0.5s;
  width: 100%;
  top: 70px;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
}
.countries-filters .filter-container .regions-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.App.dark-mode .browser-container {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container:hover, .App.dark-mode .browser-container:hover input {
  background-color: hsl(209deg, 16%, 29%);
}
.App.dark-mode .browser-container input {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .filter-container .filter-bar {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}
.App.dark-mode .filter-container .filter-bar:hover {
  background-color: hsl(209deg, 16%, 29%);
}
.App.dark-mode .filter-container .filter-bar #close-icon {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  fill: hsl(209deg, 23%, 22%);
}
.App.dark-mode .filter-container .regions-list {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}

@media screen and (min-width: 850px) {
  .countries-filters {
    flex-direction: row;
    justify-content: space-between;
  }
  .countries-filters .browser-container {
    width: auto;
  }
  .countries-filters .filter-container {
    flex-basis: 300px;
  }
  .countries-filters .filter-container .regions-list {
    -webkit-animation: filter-droping 0.2s linear both;
            animation: filter-droping 0.2s linear both;
  }
}
@media screen and (min-width: 950px) {
  .countries-filters .browser-container {
    width: 450px;
  }
}
.countries-container {
  margin-bottom: 5rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.countries-container .country-list {
  display: none;
  gap: 2rem;
}
.countries-container .country-list.current {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.countries-container .mini-btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.countries-container .mini-btns .page-btns {
  transition: 0.5s;
  color: hsl(0deg, 0%, 52%);
  font-weight: 600;
  padding: 0.15rem 0.5rem;
  border: 2px solid rgb(212, 205, 205);
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.countries-container .mini-btns .page-btns:hover {
  transform: scale(1.05);
}
.countries-container .mini-btns .page-btns.current {
  border-color: black;
}
.countries-container .mini-btns #previous-icon, .countries-container .mini-btns #next-icon {
  transition: 0.5s;
  background-color: hsl(200deg, 15%, 8%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0.5rem;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.countries-container .mini-btns #previous-icon:hover, .countries-container .mini-btns #next-icon:hover {
  background-color: hsl(225deg, 9%, 83%);
  transform: scale(1.1);
}
.countries-container .country-card {
  width: 290px;
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 12px 4px rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  padding-bottom: 2rem;
}
.countries-container .country-card:hover {
  transform: scale(1.05);
}
.countries-container .country-card img {
  height: 180px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.countries-container .country-card .country-info {
  padding: 1rem 2rem;
}
.countries-container .country-card .country-info h2 {
  font-weight: 800;
  font-size: 1.35rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}
.countries-container .country-card .country-info p {
  letter-spacing: 0.5px;
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}

.country-card-selected {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  gap: 3rem;
}
.country-card-selected button {
  transition: 0.5s;
  color: hsl(200deg, 15%, 8%);
  font-size: 0.95rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
}
.country-card-selected button:hover {
  background-color: hsl(225deg, 9%, 83%);
}
.country-card-selected .__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.country-card-selected .__info .-geografy, .country-card-selected .__info .-culture {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.country-card-selected .__info .-border-countries {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.country-card-selected .__info .-border-countries .not-borders-msg {
  text-align: center;
}
.country-card-selected .__info .-border-countries h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.country-card-selected .__info .-border-countries ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.country-card-selected .__info .-border-countries ul li {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  padding: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}
.country-card-selected .__info .-border-countries ul li:hover {
  background-color: hsl(225deg, 9%, 83%);
}
.country-card-selected .__info .-border-countries ul li .border-flag {
  width: 20px;
}

.App.dark-mode .country-card {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card b {
  font-weight: 600;
}
.App.dark-mode .mini-btns .page-btns {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .mini-btns .page-btns.current {
  border-color: hsl(200deg, 15%, 8%);
}
.App.dark-mode .mini-btns #previous-icon, .App.dark-mode .mini-btns #next-icon {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(209deg, 23%, 22%);
}
.App.dark-mode .country-card-selected {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card-selected button {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card-selected button:hover {
  background-color: hsl(209deg, 16%, 29%);
}
.App.dark-mode .country-card-selected b {
  font-weight: 600;
}
.App.dark-mode .country-card-selected .-border-countries li {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card-selected .-border-countries li:hover {
  background-color: hsl(209deg, 16%, 29%);
}

@media screen and (min-width: 700px) {
  .countries-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .countries-container .country-card {
    width: 280px;
    height: 415px;
  }
  .countries-container .country-card img {
    height: 180px;
  }
  .countries-container .country-list.current {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }
  .countries-container .country-list.current.next {
    -webkit-animation: next-list 0.7s linear both;
            animation: next-list 0.7s linear both;
  }
  .countries-container .country-list.current.previous {
    -webkit-animation: back-list 0.7s linear both;
            animation: back-list 0.7s linear both;
  }
  .countries-container .mini-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .country-card-selected .country-selected-flag {
    width: 450px;
    height: 275px;
    display: flex;
    align-self: center;
  }
  .country-card-selected button {
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    width: 150px;
  }
  .country-card-selected button svg {
    font-size: 1.2rem;
  }
  .country-card-selected .__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .country-card-selected .__info h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .country-card-selected .__info .-geografy p, .country-card-selected .__info .-culture p {
    font-size: 1.2rem;
  }
  .country-card-selected .__info .-geografy p b, .country-card-selected .__info .-culture p b {
    word-break: normal;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .country-card-selected .__info .-border-countries {
    width: 100%;
  }
  .country-card-selected .__info .-border-countries h3 b {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 850px) {
  .countries-container .mini-btns .page-btns {
    transition: 0.5s;
    color: hsl(0deg, 0%, 52%);
    font-weight: 600;
    padding: 0.15rem 0.5rem;
    border: 2px solid rgb(212, 205, 205);
    border-radius: 5px;
    cursor: pointer;
  }
  .countries-container .mini-btns .page-btns:hover {
    transform: scale(1.05);
  }
  .countries-container .mini-btns #previous-icon, .countries-container .mini-btns #next-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50%;
  }
  .countries-container .mini-btns #previous-icon {
    left: 2.25%;
  }
  .countries-container .mini-btns #next-icon {
    right: 2.25%;
  }
}
@media screen and (min-width: 950px) {
  .countries-container {
    gap: 4rem;
  }
  .countries-container .country-card {
    width: 330px;
  }
  .countries-container .country-card img {
    height: 200px;
  }
  .countries-container .country-list.current {
    gap: 4rem;
  }
  .countries-container .mini-btns {
    margin-bottom: -2rem;
  }
}
@media screen and (min-width: 1100px) {
  .country-card-selected {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .country-card-selected .back-btn {
    width: 100%;
  }
  .country-card-selected .country-selected-flag {
    width: 480px;
    height: 280px;
    align-self: flex-start;
  }
  .country-card-selected .__info {
    width: 360px;
    flex-direction: column;
  }
  .country-card-selected .__info h2 {
    text-align: left;
  }
}
@media screen and (min-width: 1300px) {
  .countries-container .country-card {
    width: 300px;
  }
  .country-card-selected {
    justify-content: center;
  }
  .country-card-selected .__info {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .countries-container .mini-btns #previous-icon {
    left: 4%;
  }
  .countries-container .mini-btns #next-icon {
    right: 4%;
  }
  .country-card-selected {
    justify-content: space-between;
  }
  .country-card-selected .country-selected-flag {
    width: 550px;
    height: 380px;
  }
  .country-card-selected .__info {
    width: 610px;
  }
}
@media screen and (min-width: 1550px) {
  .countries-container .mini-btns #previous-icon {
    left: 1.5%;
  }
  .countries-container .mini-btns #next-icon {
    right: 1.5%;
  }
}
@media screen and (min-width: 1600px) {
  .countries-container .country-card {
    width: 280px;
    height: 440px;
  }
  .countries-container .country-card img {
    height: 190px;
  }
  .countries-container .changer-btns .previous-icon {
    left: 2.5%;
  }
  .countries-container .changer-btns .next-icon {
    right: 2.5%;
  }
}
@media screen and (min-width: 1700px) {
  .countries-container .country-card {
    width: 300px;
  }
  .countries-container .country-card img {
    height: 190px;
  }
  .country-card-selected {
    justify-content: center;
  }
  .country-card-selected .__info {
    width: 750px;
  }
}
@media screen and (min-width: 1900px) {
  .countries-container .country-card {
    width: 340px;
  }
  .countries-container .country-card img {
    height: 210px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  transition: 0.5s;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
}

.main-container {
  min-height: 70vh;
  transition: 0.5s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0deg, 0%, 98%);
}

footer {
  transition: 0.5s;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.App.dark-mode {
  transition: 0.5s;
  background-color: hsl(207deg, 26%, 17%);
}
.App.dark-mode .main-container {
  transition: 0.5s;
  background-color: hsl(207deg, 26%, 17%);
}
.App.dark-mode footer {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 850px) {
  * {
    font-size: 18px;
  }
  .main-container {
    padding: 1rem 4rem;
  }
}
.theme-btn, .browser-container, .filter-container, .country-card, .back-btn button, .-border-countries ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=main.css.map */