@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'filters';
@use 'countries';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: $Very-light-gray;
}

.main-container {
  min-height: 70vh;
  transition: .5s;
  padding: $Mobile-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $Very-light-gray;
}

footer {
  width: 100%;
  background-color: $White;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: $Mobile-padding;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
}

//Dark Mode
.App.dark-mode {
  transition: .5s;
  background-color: $Dark-background;

  .main-container {
    transition: .5s;
    background-color: $Dark-background;
  }
  footer {
    @include DarkModeTheme();
  }
}
