@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@-webkit-keyframes theme-change {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@keyframes theme-change {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@-webkit-keyframes light-change {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes light-change {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(200deg, 15%, 8%);
  position: relative;
}
header h2 {
  font-size: 1rem;
}
header .theme-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
header .theme-container .theme-btn {
  transition: 0.5s;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  width: 45px;
  border-radius: 15px;
  background-color: hsl(200deg, 15%, 8%);
  padding: 3px;
}
header .theme-container .theme-btn svg {
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  fill: hsl(200deg, 15%, 8%);
  padding: 1px;
  -webkit-animation: light-change 0.5s linear both;
          animation: light-change 0.5s linear both;
}
header .theme-container p {
  font-size: 0.925rem;
  font-weight: 800;
}

.App.dark-mode header {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.117);
}
.App.dark-mode header p {
  font-weight: 600;
}
.App.dark-mode header .theme-container .theme-btn {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
}
.App.dark-mode header .theme-container .theme-btn svg {
  -webkit-animation: theme-change 0.5s linear both;
          animation: theme-change 0.5s linear both;
  transition: 0.5s;
  padding: 2px;
  background-color: hsl(207deg, 26%, 17%);
  fill: hsl(0deg, 0%, 100%);
}

.countries-filters {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}
.countries-filters .browser-container {
  display: flex;
  gap: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container input {
  border: none;
  font-size: 0.95rem;
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container input:focus {
  outline: none;
}
.countries-filters .browser-container svg {
  font-size: 1.4rem;
}
.countries-filters .filter-container {
  width: 215px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.85rem;
  font-weight: 600;
}
.countries-filters .filter-container .filter-bar {
  border-radius: 5px;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  padding: 1rem 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.countries-filters .filter-container .filter-bar .filter-icons {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 5px;
}
.countries-filters .filter-container .filter-bar .filter-icons #close-icon {
  background-color: hsl(200deg, 15%, 8%);
  border-radius: 50%;
  fill: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
.countries-filters .filter-container .regions-list {
  width: inherit;
  top: 244px;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
}
.countries-filters .filter-container .regions-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.App.dark-mode .browser-container {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .filter-container .filter-bar {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}
.App.dark-mode .filter-container .filter-bar #close-icon {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  fill: hsl(209deg, 23%, 22%);
}
.App.dark-mode .filter-container .regions-list {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.main-container {
  transition: 0.5s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0deg, 0%, 98%);
}

footer {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.App.dark-mode .main-container {
  transition: 0.5s;
  background-color: hsl(207deg, 26%, 17%);
}/*# sourceMappingURL=main.css.map */