@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@-webkit-keyframes dark-changeMb {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@keyframes dark-changeMb {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(145%);
  }
}
@-webkit-keyframes light-changeMb {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes light-changeMb {
  from {
    transform: translateX(145%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes dark-changeTb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
@keyframes dark-changeTb {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
@-webkit-keyframes light-changeTb {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes light-changeTb {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}
header {
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(200deg, 15%, 8%);
}
header h2 {
  font-size: 1rem;
}
header .theme-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
header .theme-container .theme-btn {
  transition: 0.5s;
  display: flex;
  align-items: center;
  width: 45px;
  border-radius: 15px;
  background-color: hsl(200deg, 15%, 8%);
  padding: 3px;
}
header .theme-container .theme-btn svg {
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  fill: hsl(200deg, 15%, 8%);
  padding: 1px;
  -webkit-animation: dark-changeTb 0.5s linear both;
          animation: dark-changeTb 0.5s linear both;
}
@media screen and (max-width: 849px) {
  header .theme-container .theme-btn svg {
    -webkit-animation: dark-changeMb 0.5s linear both;
            animation: dark-changeMb 0.5s linear both;
  }
}
header .theme-container p {
  font-size: 0.925rem;
  font-weight: 800;
}

.App.dark-mode header {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.117);
}
.App.dark-mode header p {
  font-weight: 600;
}
.App.dark-mode header .theme-container .theme-btn {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
}
.App.dark-mode header .theme-container .theme-btn svg {
  -webkit-animation: light-changeTb 0.5s linear both;
          animation: light-changeTb 0.5s linear both;
  transition: 0.5s;
  padding: 2px;
  background-color: hsl(207deg, 26%, 17%);
  fill: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 849px) {
  .App.dark-mode header .theme-container .theme-btn svg {
    -webkit-animation: light-changeMb 0.5s linear both;
            animation: light-changeMb 0.5s linear both;
  }
}

@media screen and (min-width: 850px) {
  header {
    padding: 2rem 4rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
  header .theme-container p {
    font-size: 1.45rem;
  }
  header .theme-container .theme-btn {
    width: 60px;
    height: 30px;
  }
  header .theme-container .theme-btn svg {
    width: 25px;
    height: 100%;
  }
}
.countries-filters {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}
.countries-filters .browser-container {
  transition: 0.5s;
  display: flex;
  gap: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container input {
  transition: 0.5s;
  border: none;
  font-size: 0.95rem;
  color: hsl(0deg, 0%, 52%);
}
.countries-filters .browser-container input:focus {
  outline: none;
}
.countries-filters .browser-container svg {
  font-size: 1.4rem;
}
.countries-filters .filter-container {
  width: 215px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  position: relative;
}
.countries-filters .filter-container .filter-bar {
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  padding: 1rem 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.countries-filters .filter-container .filter-bar .filter-icons {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 5px;
}
.countries-filters .filter-container .filter-bar .filter-icons #close-icon {
  background-color: hsl(200deg, 15%, 8%);
  border-radius: 50%;
  fill: hsl(0deg, 0%, 100%);
  font-size: 1rem;
}
.countries-filters .filter-container .regions-list {
  transition: 0.5s;
  width: 100%;
  top: 70px;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
}
.countries-filters .filter-container .regions-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.App.dark-mode .browser-container {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::-moz-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .browser-container input::placeholder {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .filter-container .filter-bar {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}
.App.dark-mode .filter-container .filter-bar #close-icon {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  fill: hsl(209deg, 23%, 22%);
}
.App.dark-mode .filter-container .regions-list {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
}

@media screen and (min-width: 850px) {
  .countries-filters {
    flex-direction: row;
    justify-content: space-between;
  }
  .countries-filters .browser-container {
    width: auto;
  }
  .countries-filters .filter-container {
    flex-basis: 300px;
  }
}
.countries-container {
  margin-bottom: 5rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.countries-container .country-card {
  transition: 5s;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 12px 4px rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  padding-bottom: 2rem;
}
.countries-container .country-card img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.countries-container .country-card .country-info {
  padding: 1rem 2rem;
}
.countries-container .country-card .country-info h2 {
  font-weight: 800;
  font-size: 1.35rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}
.countries-container .country-card .country-info p {
  letter-spacing: 0.5px;
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}

.country-card-selected {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  gap: 3rem;
}
.country-card-selected button {
  transition: 0.5s;
  color: hsl(200deg, 15%, 8%);
  font-size: 0.95rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
}
.country-card-selected .__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.country-card-selected .__info .-geografy, .country-card-selected .__info .-culture {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.country-card-selected .__info .-border-countries {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.country-card-selected .__info .-border-countries .not-borders-msg {
  text-align: center;
}
.country-card-selected .__info .-border-countries h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.country-card-selected .__info .-border-countries ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.country-card-selected .__info .-border-countries ul li {
  transition: 0.5s;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.106);
  padding: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}
.country-card-selected .__info .-border-countries ul li .border-flag {
  width: 20px;
}

.App.dark-mode .country-card {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card b {
  font-weight: 600;
}
.App.dark-mode .country-card-selected {
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card-selected button {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}
.App.dark-mode .country-card-selected b {
  font-weight: 600;
}
.App.dark-mode .country-card-selected .-border-countries li {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 850px) {
  .country-card {
    width: 425px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.App {
  transition: 0.5s;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
}

.main-container {
  min-height: 70vh;
  transition: 0.5s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0deg, 0%, 98%);
}

footer {
  transition: 0.5s;
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.App.dark-mode {
  transition: 0.5s;
  background-color: hsl(207deg, 26%, 17%);
}
.App.dark-mode .main-container {
  transition: 0.5s;
  background-color: hsl(207deg, 26%, 17%);
}
.App.dark-mode footer {
  transition: 0.5s;
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 850px) {
  * {
    font-size: 18px;
  }
  .main-container {
    padding: 1rem 4rem;
  }
}/*# sourceMappingURL=main.css.map */